<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr> 
  <%= render @articles %>
  </table>
<%= link_to 'New article', new_article_path %>




